a{
  text-decoration-line: none;
}
.social-btns {
  height: 50px;
  margin: 10px auto;
  font-size: 14px;
  text-align: center;
}
.social-btns .btn {
  display: inline-block;
  background-color: #F0F0F0;
  width: 100px;
  height: 50px;
  line-height: 50px;
  margin: 0px 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 33%;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
          box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 1;
}
.social-btns .btn .fa {
  vertical-align: middle;
}
