<!DOCTYPE html>
<html lang="zh">
<head>
    <script type="text/javascript" async="" src="../static/weipinhui_login_files/1479787994830_js_core.js"></script>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="https://member-ssl.vipstatic.com/">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>唯品会网站登录</title>
    <link href="weipinhui_login_files/login.css" type="text/css" rel="stylesheet">
    <link href="weipinhui_login_files/common-hash-44b3cc4d.css" type="text/css" rel="stylesheet">
    <link href="weipinhui_login_files/single-function-hash-e075b345.css" type="text/css" rel="stylesheet">
    <!--<script src="weipinhui_login_files/jquery-1.js" type="text/javascript"></script>-->
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script src="jqurey/jquery.cookie.js"></script>
    <script src="weipinhui_login_files/core3.js" type="text/javascript"></script>

    <script type="text/javascript" charset="utf-8" async="" src="weipinhui_login_files/vfp-7-f64856b5.js"></script></head>
<body class="J-container">
<style type="text/css">
    .cc {
        border:1px red solid
    }

    #save_name{
        display: none;
    }

    .ss{
        cursor: pointer;
    }
    .dd
    {
        cursor: pointer;
        float: right;
    }
</style>
<div class="c-header" passport_mars_sead_hover="">
    <div class="c-header-inner">
        <!--LOGO-->
        <div class="c-logo">
            <a class="c-logo-link" id="for-cascade-login-link" >唯品会</a>
        </div>

        <div class="c-service"></div>
    </div>
</div>

<div class="c-body  J-ads" data-adsid="ADSJ867S" data-bg="true" style="background-image: url(&quot;https://a.vpimg2.com/upload/flow/2019/01/29/88/15487540172274.jpg&quot;);">
    <div class="c-content  f-clearfix">
        <div class="c-login-panel  f-right">
            <div class="c-login-panel-body">
                <div class="c-tab  c-login-tab     J-tab">
                    <div class="c-tab-nav">

                        <div class="c-tab-nav-item  J-tab-nav-item   is-tab-nav-item-active" data-current-item="form">账户登录</div>
                    </div>
                    <div class="c-tab-content">
                        <div class="c-tab-panel  J-tab-panel   f-hide">

                        </div>
                        <div class="c-tab-panel  J-tab-panel">
                            <div class="c-login-form">
                                <div class="m-passport-from" id="J_login_form">
                                    <div class="ui-form-item-group  c-form-error  J_item_group">
                                        <div id="J_form_error"></div>
                                        <div class="u-input-tip J_form_tip" id="login_erro_message"><span class="text" id="login_erro_text"></span></div>
                                    </div>
                                    <div class="c-form-item  has-form-item-icon  J_item_group">
                                        <!--用户名-->
                                        <div class="ui-form-item-group">
                                            <input id="J_login_name" class="ui-input  u-input" type="text" name="username" placeholder="用户名" passport_mars_sead_hover="" passport_mars_sead_input="loginName">
                                            <ul id="save_name" type="text">
                                                <!-- <li class="ui-input  u-input"><a id="ss">wwwwwwwwww</a><span class="dd">×</span></li>-->
                                            </ul>
                                            <span class="c-icon  c-icon-account  c-icon-form"></span>
                                            <span class="u-input-warning vipFont if-wrong"></span>
                                            <span class="u-input-success vipFont if-success"></span>
                                        </div>
                                        <div class="u-input-tip J_form_tip" id="username_erro"><span style="color: red" id="username_erro_text"></span></div>
                                    </div>

                                    <div class="c-form-item  has-form-item-icon  J_item_group">
                                        <div class="ui-form-item-group">
                                            <!--密码-->
                                            <input id="J_login_pwd" class="ui-input  u-input" type="password" name="password" maxlength="20" placeholder="密码" passport_mars_sead_hover="" passport_mars_sead_input="password">
                                            <div class="ui-tooltips ui-tooltips-info ui-tooltips-bottom-left-arrow u-capslock-tip" id="J_capslock_tip">
                                                <div class="ui-tooltips-arrow">
                                                    <i class="arrow arrow-out">◆</i>
                                                    <i class="arrow">◆</i>
                                                </div>
                                                <div class="ui-tooltips-content f-nowrap">
                                                    <p>请注意，键盘大写已开启</p>
                                                </div>
                                            </div>
                                            <span class="c-icon  c-icon-password  c-icon-form"></span>
                                            <span class="u-input-warning vipFont if-wrong"></span>
                                            <span class="u-input-success vipFont if-success"></span>
                                        </div>
                                        <div class="u-input-tip J_form_tip" id="password_erro"><span style="color: red" id="password_erro_text"></span></div>
                                    </div>

                                    <div class="c-form-item c-captcha-container J_item_group J-captcha-code-container z-u-form-item-warning f-hidden">
                                        <div id="J-captcha-code" class="ui-form-item-group"></div>
                                        <div class="u-input-tip J_form_tip J-captcha-tip"><span class="text"></span></div>
                                    </div>

                                    <div class="c-form-item">
                                        <div class="ui-form-item-group">
                                            <div class="u-other-item">
                                                <!--  忘记密码了 *********-->
                                                <div class="u-cannot-login J-password-login-forget f-right">
                                                    <a href="https://safe.vip.com/login/findPW/page" class="i-forget-link" target="_blank" rel="noopener" seed-id="btnForgot">忘记密码</a>
                                                </div>
                                                <div class="f-left">
                                                    <div class="ui-checkbox">
                                                        <input type="checkbox" id="J_remember_username" name="remUser" class="ui-checkbox-normal" checked="checked">
                                                        <label for="J_remember_username" class="ui-checkbox-simulation"></label>
                                                    </div>
                                                    <!--   记住用户名    ********* 使用Application 的list-->
                                                    <label for="J_remember_username" class="u-checkbox-label">记住用户名</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="u-input-tip J_form_tip"><span class="text"></span></div>
                                    </div>

                                    <!--   同意用户协议 *********-->
                                    <div class="c-form-item  f-hidden  J_item_group  J_vpal_checkbox_model">
                                        <div class="ui-form-item-group  m_vpal_checkbox">
                                            <div class="ui-checkbox mr0 i-vpal-checkbox">
                                                <input type="checkbox" id="J_vpal_agree" name="agree" class="ui-checkbox-normal" value="1">
                                                <label for="J_vpal_agree" class="ui-checkbox-simulation"></label>
                                            </div>
                                            <div for="J_vpal_agree" class="u-provision-txt">
                                                我已阅读并接受以下条款：<a href="https://i.vpal.com/clause.html" class="u-link" target="_blank">《唯品支付用户服务协议》</a>
                                            </div>
                                        </div>
                                        <div class="u-input-tip J_form_tip"><span class="text"></span></div>
                                    </div>
 <a href="finall">测试一下噢噢</a>       <a href="/orderxq">订单测试哦哦</a>
                                    <a href="shopcar?gid=8">测试一下噢噢购物详情</a>
                                    <!--    登录    *********-->

                                    <div class="c-form-item-submit">
                                        <div class="u-form-submit">
                                            <button type="submit" class="ui-btn-large ui-btn-primary ui-btn-loading u-submit-function" id="J_login_submit" passport_mars_sead_hover="" seed-id="btnLogin">
                                                <a class="ui-btn-loading-before" id="login" style="color: white">登录</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <script type="text/javascript">
                                    $(function()
                                    {
                                        var username=$(".ui-form-item-group #J_login_name").val();
                                        alert("username:"+username);
                                        var cookieName=$.cookie(username);
                                        if(cookieName=="[object Object]")
                                        {
                                            cookieName="";
                                        }
                                        alert("ckname:"+cookieName);
                                        if(cookieName!=undefined || cookieName!="")
                                        {
                                            $(".ui-form-item-group #J_login_name").val(cookieName);
                                            /* $.post("/web/token",function (data)
                                             {
                                                 var array="";
                                                 for(var i=0;i<data.length;i++)
                                                 {
                                                     array=$.cookie(data[i].username);
                                                     if(array!="" || array!=undefined)
                                                     {
                                                         $("#save_name").append(
                                                             "<li class=\"ui-input  u-input\"><a class=\"ss\" id="+array+">"+array+"</a><span class=\"dd\">×</span></li>"
                                                         );
                                                     }
                                                 }
                                             },"json");*/
                                        }

                                        //记住username
                                        function RememberName(username)
                                        {
                                            var $ckname=$("#J_remember_username").attr("checked");
                                            if($ckname=="checked")
                                            {
                                                alert("username:"+username);
                                                $.cookie(username, username, {expires: 1,path:'/'});//0.0014==2.016fz   0.0002
                                            }
                                        }

                                        $("#delcookie").click(function ()
                                        {
                                            $.cookie("mwx","",{path:'/'});
                                            $.cookie("hz","",{path:'/'});
                                            $.cookie("czw","",{path:'/'});
                                        });

                                        //验证username是否为空
                                        $(".ui-form-item-group #J_login_name").focus(function()
                                        {
                                            var $username=$(this).val();
                                            if($username=="")
                                            {
                                                $("#username_erro_text").text("请输入登录名");
                                                $("#J_login_name").addClass("cc");
                                            }
                                            else
                                            {
                                                $("#save_name").css({"display":"block"});
                                            }
                                        }).blur(function ()
                                        {
                                            $("#save_name").css({"display":"none"});
                                            var $username=$(this).val();
                                            if($username!="")
                                            {
                                                $("#username_erro_text").text("");
                                                $("#J_login_name").removeClass("cc");
                                            }
                                        });

                                        //验证password是否为空
                                        $(".ui-form-item-group #J_login_pwd").focus(function ()
                                        {
                                            var $password=$(this).val();
                                            if($password=="")
                                            {
                                                $("#password_erro_text").text("请输入密码");
                                                $("#J_login_pwd").addClass("cc");
                                            }
                                        }).blur(function ()
                                        {
                                            var $password=$(this).val();
                                            if($password!="")
                                            {
                                                $("#password_erro_text").text("");
                                                $("#J_login_pwd").removeClass("cc");
                                            }
                                        });

                                        $("#login").click(function ()
                                        {

                                            var $username=$("#J_login_name").val();
                                            var $password=$("#J_login_pwd").val();
                                            if($username!="" && $password!="")
                                            {
                                                $.ajax({
                                                    url:"/web/login",
                                                    data:{"username":$username,"password":$password},
                                                    type:"POST",
                                                    dataType:"TEXT",
                                                    success:function(data)
                                                    {
                                                        if(data=="true")
                                                        {
                                                            RememberName($username);
                                                            window.location.href="index.html";
                                                        }
                                                        else
                                                        {
                                                            $("#J_login_name").val("");
                                                            $("#J_login_pwd").val("");
                                                            $("#login_erro_text").text("登录账号或密码错误，请重新输入");
                                                        }
                                                    }
                                                });
                                            }
                                            else
                                            {
                                                $("#username_erro_text").text("请输入登录名");
                                                $("#J_login_name").addClass("cc");
                                                $("#password_erro_text").text("请输入密码");
                                                $("#J_login_pwd").addClass("cc");
                                            }
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-login-panel-footer">
                <div class="c-login-third  f-clearfix  J-login-third">
                    <input type="button" value="注销cookie" id="delcookie">
                    <!--免费注册-->
                    <div class="f-right">
                        <a  target="_blank" rel="noopener" href="regist.html" class="go_regist_move">免费注册</a>
                    </div>

                    <div class="c-login-third-content" passport_mars_sead_hover="">
                        <div class="c-login-third-main">

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-footer">
    <p class="c-copyright">Copyright 2008-2019 vip.com，All Rights Reserved ICP证：粤 B2-20080329</p>
</div>
</body>
</html>